<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <ng-container *ngIf="!productId">
          {{'titles.addnewproduct' | translate}}
        </ng-container>
        <ng-container *ngIf="productId">
          {{'titles.editproduct' | translate}}
        </ng-container>
      </h1>
    </div>
  </div>
  <mat-card class="row">
    <mat-card-content class="col-md-12">
      <form class="row" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="col-md-6">
          <input
            matInput
            [placeholder]="'placeholders.ProductTitle' | translate"
            formControlName="title"
            name="title"
            required
          />
          <mat-error *ngIf="productForm.controls['title'].invalid"
            >{{'validations.Titleisrequired' | translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input
            matInput
            type="number"
            [placeholder]="'placeholders.ProductPrice' | translate"
            formControlName="price"
            name="price"
            required
          />
          <mat-error *ngIf="productForm.controls['price'].invalid"
            >{{'validations.Pleaseprovideavalidprice' | translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input
            matInput
            type="url"
            [placeholder]="'placeholders.ProductImage' | translate"
            formControlName="image"
            name="image"
            required
          />
          <mat-error *ngIf="productForm.controls['image'].invalid"
            >{{'validations.Pleaseprovideavalidimageurl' |
            translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <input
            matInput
            type="text"
            [placeholder]="'placeholders.ProductCategory' | translate"
            formControlName="category"
            name="category"
            required
          />
          <mat-error *ngIf="productForm.controls['category'].invalid"
            >{{'validations.Categoryisrequired' | translate}}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <textarea
            matInput
            [placeholder]="'placeholders.ProductDescription' | translate"
            formControlName="description"
            name="description"
            required
          ></textarea>
          <mat-error *ngIf="productForm.controls['description'].invalid"
            >{{'validations.Descriptionisrequired' | translate}}</mat-error
          >
        </mat-form-field>
        <div class="col-md-12">
          <button mat-raised-button color="primary">
            <ng-container *ngIf="!productId">
              {{'buttons.create' | translate}}
            </ng-container>
            <ng-container *ngIf="productId">
              {{'buttons.update' | translate}}
            </ng-container>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
