<mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin">
    <mat-icon>dashboard</mat-icon>
    <span>Admin</span>
  </ng-container>

  <ng-container *ngIf="!isAdmin">
    <mat-icon>home</mat-icon>
    <span>Welcome</span>
    <ul>
      <li>
        <a [routerLink]="['/user/home']" routerLinkActive="link-active" >Home</a>
      </li>
      <li *ngFor="let cat of categories">
        <a [routerLink]="['/user/category/' , cat]" routerLinkActive="link-active" >{{cat}}</a>
      </li>
    </ul>
  </ng-container>

  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with logout icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
