:host {
  .product-card {
    border: 2pt solid var(--bs-indigo);
    border-radius: 5px;
    min-height: 440px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    .image {
      text-align: center;
      margin-bottom: 10px;
    }
    .title {
      text-align: center;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        transition: all 0.3s ease-in-out;
        margin: 0;
        text-transform: uppercase;
      }
    }
    .category {
      text-align: center;
      margin-bottom: 10px;
      h3 {
        margin: 0;
        color: #d6d6d6;
        text-transform: capitalize;
      }
    }
    .price {
      text-align: center;
      margin-bottom: 10px;
      h2 {
        margin: 0;
      }
    }
    .rate {
      text-align: center;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      bar-rating {
        --br-active-color: var(--bs-indigo);
      }
    }
    .description {
      p {
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    &:hover {
      .title {
        h1 {
          transition: all 0.3s ease-in-out;
          color: var(--bs-indigo);
        }
      }
    }
  }
}
